 <h3>Delete User Posts</h3>

 <p class= "response notice">Clicking the button will delete all posts for user_name{{userName}} you entered in settings</p>

 <div class='buttons'>
 
  {{d-button label="delete_topic_ui.delete" action=(action "deletePosts") icon="eye"}}

</div>

