 <h3>Delete User Posts</h3>
 
 <div class='buttons'>
  {{!-- {{d-button label="delete_topic_ui.delete" action="deletePosts" icon="eye" id='deletePosts'}} --}}
  {{d-button label="delete_topic_ui.delete" action=(action "deletePosts") icon="eye"}}
</div>

